__pycache__/
*.py[cod]
*$py.class
*.pyc
.DS_Store
node_modules/
/dist/
/web/dist-app/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
local_settings.py
db.sqlite3
music_tag.db
/media/
/build/
/data/
celerybeat.pid
supervisord.pid
.ruff_cache
/.VSCodeCounter/*
spotify_token.json
.pytest_cache
.cursor
django.log
/log/
/tests/
CLAUDE.md
.claude/
*.mp3
